@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>


<div class="container">
    <h2>Title</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            
            <img src="https://thumbs.dreamstime.com/z/npc-universe-top-competitors-fitness-short-class-link-arms-victory-athletes-marissa-herring-th-place-56404512.jpg" class="img-fluid" alt="Profile Picture">
        </div>
        <div class="col-md-6">
            <p>First Name: Something</p>
            <p>Last Name: Something</p>
            <p>Address: Something</p>
        </div>
    </div>
</div>