@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


<div class="container">

    <div class="row">
        <div class="col col-sm-6 col-md-3">
            <input type="text" class="form-control form-control-lg border-success border-solid rounded-3 shadow-sm" />


        </div>
        <div class="col col-sm-6 col-md-3">
            <button type="button" class="btn btn-success text-white">Search books</button>

        </div>
    </div>

</div>



<div class="container">
    <div class="row">
      
        @if (Books == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach(var book in Books)
            {
               <BookItem Book="book"></BookItem> 

            }


        }

       

    </div>
</div>





Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
