@page "/"
@using BookFriend.Components

<PageTitle>Index</PageTitle>

<h1>Books</h1>


<div class="container">
    <Search  OnSearchText="HandleSearchAsync"></Search>    
</div>


<div class="container">
    <div class="row">
      
        @if (Books == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach(var book in Books)
            {
               <BookItem Book="book"></BookItem> 

            }

        }

    </div>
</div>
