<div class="col-md-3 col-sm-6 col-xs-11 custom-rectangle">
    <a href="#">
        <h5>@Book.Title</h5>
        <img src="@Book.Cover.MediumImage_url" alt="Image" class="square-image">
        <div class="author-text">@Book.AuthorNames[0]</div>
    </a>            
</div>  