<div class="row">
    <div class="col col-sm-6 col-md-3">
        <input type="text" @bind="searchText" class="form-control form-control-lg border-success border-solid rounded-3 shadow-sm" />


    </div>
    <div class="col col-sm-6 col-md-3">
        <button type="button" @onclick="OnSearch" class="btn btn-success text-white">Search books</button>

    </div>
</div>